*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav ul{
    list-style: none;
}
nav ul *{
    padding: 10px 0;
    cursor: pointer;
    margin: 10px 0;
}

.display_none{
    display: none;
}
.display_block{
    display: block;
}
section{
    display: none;
}
input{
    text-align: center;
}
.array_input *{
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
}
.array_input_move{
    transform: translateY(-10px);
    display: block;
}
.ketqua{
   
    height: 100px;
}
.input button{
    padding: 0px 20px;
    background: gold;
   
}
